:root{
    --oxford-blue: #0a1128ff;
    --penn-blue: #001f54ff;
    --indigo-dye: #034078ff;
    --cerulean: #1282a2ff;
    --white: #fefcfbff;
}
/* Login Page */
.main-login{
    width: 100%;
    background-image: url('../img/diputados.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form{
    background-color: #fff;
    width: 14%;
    height: 50vh;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login-form img{
    width: 65%;
    margin-bottom: 10px;
}
.input-container{
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    width: 80%;
}
.input-container input{
    padding: 5px 10px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 6px;
}
.input-container input:focus{
    outline: none;
    border: 1px solid #63C6FD;
}
.input-container label{
    margin-bottom: 10px;
    font-weight: 100;
}
.submit{
    margin-top: 40px;
    border: none;
    border-radius: 6px;
    width: 60%;
    height: 40px;
    background-color: #0c63f0;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.1);
    transition: transform .2s;
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
}
.submit:hover{
    cursor: pointer;
    transform: scale(1.05);
}
.submit.loading{
    cursor: not-allowed;
    transform: none;
    background-color: #63C6FD;
}
.submit img{
    width: 35px;
    box-sizing: border-box;
    margin: 0;
}

/* Main App Styles */
.main-app{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: rgb(0,154,185);
    background: linear-gradient(90deg, rgba(0,154,185,1) 0%, rgba(0,86,255,1) 27%, rgba(0,104,227,1) 78%, rgba(0,154,185,1) 100%);
}
.main-content{
    margin: auto;
    border-radius: 6px;
    width:86%;
    height: 99vh;
    background-color: white;
    padding: 20px;
    box-sizing: border-box;
}
.content-header{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.content-header p{
    color: var(--indigo-dye);
}
.content-header h3{
    width: 100%;
    text-align: center;
}
.content-header *{
    color: var(--indigo-dye);
    margin-right: 20px;
}
.confirmation-text{
    text-align: center;
    color: var(--indigo-dye);
    font-size: 18px;
    margin-bottom: 40px;
}
.confirmation-text span{
    color: var(--cerulean);
    margin-left: 5px;
    font-size: 21px;
}
.confirmation-text span.warn{
    color: #e2801e;
}
.acreditacion-form h4{
    color: var(--indigo-dye);
    margin: 10px;
}
.loading-finger{
    width: 100%;
    display: flex;
    justify-content: center;
}
.loading-finger img{
    width: 200px;
}

/* Profile card */
.profile-data-header{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}
.profile-data-header p, .profile-data-header h4{
    color: var(--indigo-dye);
}
.profile-data h4{
    font-size: 20px;
}
.profile-data h4, .profile-data p{
    letter-spacing: 1px;
    margin: 5px 0 0 0;
}
.profile-photo-container{
    position: relative;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20px;
}
.profile-photo-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.button-upload-container{
    border-radius: 50%;
    background-color: rgb(248, 248, 248);
    position: absolute;
    bottom: 1px;
}

/* Utilidades */
.info-title{
    color: var(--cerulean);
}

/* Accesos TAB */
.accesos-container{
    display: flex;
    height: 500px;
    justify-content: space-around;
    width: 100%;
}
.accesos-container .huellas{
    height: 4
}
.accesos-container .grupos, .accesos-container .usuarios{
    width: 290px;
    box-sizing: border-box;
}
.accesos-container h4{
    width: 200px;
    margin-bottom: 20px;
    color: var(--cerulean)
}
.accesos-container .huellas{
    margin-right: 50px;
}

/* Index */
.index-container{
    display: flex;
    flex-direction: column;
}
.index-header{
    display: flex;
    align-items: center;
}
.index-header h4{
    margin-left: 10px;
}
.index-header *{
    color: var(--indigo-dye);
}

.main-data{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.visits{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.visits-header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.visits-header h4{
    margin-left: 10px;
    color: var(--indigo-dye)
}
.visits-value h3{
    color: var(--cerulean);
    text-align: center;
    font-size: 40px;
    margin: 0;
    padding: 0;
}
.dashboard-values{
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: space-around;
    border: 1px solid #cccccca9;
    border-radius: 10px;
    padding: 20px;
}
.visits{
    width: 10%;
    border: 1px solid #cccccca9;
    border-radius: 10px;
    padding: 20px;
}
.value{
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform .1s ease-in;
}
.value:hover{
    transform: scale(1.1);
}
.value .icon-title{
    margin: 10px 0 5px 0;
    font-size: 18px;
    font-weight: 600;
    color: var(--indigo-dye)
}
.value .icon-values{
    margin: 0;
    color: var(--cerulean);
}
.icon-image{
    box-sizing: border-box;
    border: 3px solid var(--indigo-dye);
    border-radius: 50%;
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-image *{
    color: var(--indigo-dye);
}
.registros-diarios{
    box-sizing: border-box;
    margin-top: 20px;
    border: 1px solid #cccccca9;
    border-radius: 10px;
    padding: 20px;
}
.registros-header{
    color: var(--indigo-dye);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
/* Visitas */
.carga-visitas-content{
    margin: 10px;
    display: flex;
    width: 100%;
}
.carga-visitas-content .step{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 15px 0;
    min-height: 160px;
}
.step-two-foto{
    display: flex;
    width: 200px;
    justify-content: space-evenly;
}
.foto-perfil{
    width: 80px;
    border-radius: 50%;
}
.step-two-buttons{
    display: flex;
    flex-direction: column;
}
.tipo-carga h4{
    color: var(--cerulean)
}
.tipo-carga .auto{
    color: #0080b2;
}
.tipo-carga .manual{
    color: #ff8000;
}
.tipo-carga{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30%;
}
.informacion-visita{
    padding: 10px;
    height: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 50%;
    box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.07);
    border-radius: 8px;
}
.informacion-visita h4{
    color: var(--cerulean);
    text-align: center;
    width: 100%;
}
.destino-visita{
    width: 100%;
    border: 1px solid #cccccc80;
    border-radius: 8px;
}

.detalle-empleado-form h4{
    color: var(--indigo-dye);
    margin: 15px;
}
